/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #044867;
  --ifm-color-primary-dark: #04415d;
  --ifm-color-primary-darker: #033d58;
  --ifm-color-primary-darkest: #033248;
  --ifm-color-primary-light: #044f71;
  --ifm-color-primary-lighter: #055376;
  --ifm-color-primary-lightest: #055e86;
  --ifm-background-color: #f2f8fa;
   --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2590c2;
  --ifm-color-primary-dark: #2182af;
  --ifm-color-primary-darker: #1f7aa5;
  --ifm-color-primary-darkest: #1a6588;
  --ifm-color-primary-light: #299ed5;
  --ifm-color-primary-lighter: #32a3d8;
  --ifm-color-primary-lightest: #4fb0dd;
  --ifm-background-color: #010816;
}

/* Styling one class specially in dark mode */
[data-theme='dark'] .purple-text {
  color: rgb(64, 53, 223);
}

[data-theme='light'] img[src$='#gh-darkmode-only'],
[data-theme='dark'] img[src$= '#gh-lightmode-only'] {
  display: none;
}


.image-container {
  width: 300px; /* Set the width of the container */
  height: 200px; /* Set the height of the container */

  img {
    width: 100%; /* Make the image fill the container width */
    height: 100%; /* Make the image fill the container height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
}
